.logo img {
  width: 150px;
  height: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}
body{
  background-color: #e9f8fc;

}

.navbar ul li a {
  color: #294861;
}

.navbar ul li ul li>ul {
  background-color: #294861;
}

.navbar ul li>ul {
  background-color: #294861;
}

.navbar{
  background-color: #e9f8fc;
}

.navbar ul ul li a:hover {
  color: #294861;
  background-color: #fff;
  
}
.navbar ul{


  background-color: #e9f8fc;

}
.navbar .container{


  background-color: #e9f8fc;

}
