* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background:url(../images/pattern-background.png);
    background-position: center;
    background-repeat: no-repeat;
}

.staff-members {
    padding-top: 120px;
    padding-bottom: 60px;
}

.staff-members .staff-head-sec {
    padding-top: 40px;
}

.staff-members .staff-head-sec h2 {
    position: relative;
    font-weight: 700;
    color: #294861;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.staff-members .staff-head-sec h2::after,
.staff-members .staff-head-sec h2::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 5px;
    content: "";
    right: 45px;
    margin: auto;
    background-color: #ccc;
}

.staff-members .staff-head-sec h2::before {
    background-color: #fea002;
    left: 45px;
    width: 90px;
}

.staff-members .row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.staff-members .col {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-members .card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    border: 1;
    border-radius: 1rem;
    background-color: #e9f8fc;
    width: 100%;
}

.staff-members .council-hidden-card .card{
    width: 90%;
}

.staff-members .img-hover-zoom--colorize img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    transition: transform 0.5s;
    filter: grayscale(100%);
    background-image: url(../images/avatar-placeholder.png);
    background-position: center;
    background-size: contain;
}

.staff-members .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
}

.staff-members .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-members .name {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: #294861;
}

.staff-members .role {
    color: #7a7a7a;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
}

.staff-members .load-more-btn {
    color: #fff;
    background: #294861;
    border-color: #294861;
    padding: 7px 20px 8px 20px;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin-top: 50px;
}

.staff-members .load-more-btn:hover {
    color: #294861;
    background-color: #fff;
    border-color: #294861;
}

.noresults {
    background-color: transparent !important;
    border: #fff !important;
    color: #294861 !important;
    cursor: default !important;
    font-size: 18px !important;
}

.noresults:focus{
    box-shadow: none !important;
}